{{ define "main" }}

{{ $featured := (.Resources.ByType "image").GetMatch "*featured*" }}

<article class="blog-post px-3 py-5 p-md-5">
    <div class="container">
        <header class="blog-post-header">
            <h2 class="title mb-2">{{ .Title }}</h2>
            <div class="meta mb-2">
                {{ partial "post_meta" . }}
            </div>
            <div class="mb-3">
                {{ range (.GetTerms "tags") }}
                <a href="{{ .Permalink }}" class="badge badge-light">#{{ .LinkTitle }}</a>
                {{ end }}
            </div>
        </header>
        
        <div class="blog-post-body">

            {{ if $featured }}
            {{ $link := .Params.featured.link }}
            {{ $credit := .Params.featured.credit }}

            <figure class="blog-banner">
                {{ if $link }}<a href="https://made4dev.com">{{ end }}
                <img class="img-fluid" src="{{ $featured }}" alt="image">
                {{ if $link }}</a>{{ end }}
                <figcaption class="mt-2 text-center image-caption">{{ $credit | safeHTML }}</figcaption>
            </figure>
            {{ end }}

            {{ .Content }}
        </div>

        {{ partial "pagination.html" . }}

        {{ template "_internal/disqus.html" . }}
    </div>
</article>
{{ end }}