{{ define "main" }}

{{ with dict `` `
    ` "title"       "DevBlog - A Blog Template Made For Developers" `` `
    ` "subtitle"    "Welcome to my blog. Subscribe and get my latest blog post in your inbox." `` `
    ` "placeholder" "Enter email" `` `
    ` "button"      "Subscribe" `` `
    ` -}}
    {{ partial "parts/cta.html" ( dict "Root" $ "Params" . ) }}
{{ end }}

{{ with dict `` `
    ` "types"       site.Params.mainSections `` `
    ` -}}
    {{ partial "parts/latest.html" ( dict "Root" $ "Params" . ) }}
{{ end }}

{{ end }}